@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$corPrincipal: rgb(28, 168, 187);
$dark1: #0B0B0D;
$textDark: #949FA6;

// Fonts //

$fontHeader: "Montserrat", serif;
$fontContent: "Hind Madurai", serif;